<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="details content">
        <h2 class="name"><%= blog.name %></h2>
        <div class="content">
            <p class="email">Email: <%= blog.email %></p>
            <p class="department1">Position: <%= blog.department %></p>
            <p class="semester">Status: <%= blog.semester %></p>
            <p class="contact">Contact: <%= blog.contact %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id%>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete')

        trashcan.addEventListener('click', (e)=>{
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            fetch(endpoint,{
                method: 'DELETE'
            })
            .then((response)=>response.json())
            .then((data)=>window.location.href = data.redirect) 
            .catch(err=>console.log(err));
        });
    </script>
</body>
</html>