<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <body>
 
    <%- include('./partials/nav.ejs') %>

   <div class="blogs content">
       <h2 class="head">All Faculty</h2>

       <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
           <h3 class="title"><%= blog.name %></h3>
           <p class="email"><%= blog.email %></p>
           <p class="department"><%= blog.department %></p>
        </a> 
      <% }) %>
       <% } else { %>
        <p>There is no blogs to display...</p>
       <% } %>

   </div>

   <%- include('./partials/footer.ejs') %>
</body>
</html>